
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <h5 class="card-header">Perfil</h5>
    <!-- Account -->
    <div class="card-body">
        <form id="formAccountSettings" method="POST" onsubmit="return false">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input class="form-control" type="text" id="Nombre" name="Nombre" value="Mi Nombre" readonly/>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input class="form-control" type="text" name="Apellido" id="Apellido" value="Mi Apellido" readonly />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input class="form-control" type="text" id="Email" name="Email" value="john.doe@example.com" readonly />
                </div>
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">Rol</label>
                    <input class="form-control" type="text" id="Rol" name="Rol" value="User" readonly />
                </div>
                <div class="mb-3 col-md-4">
                    <label for="email" class="form-label">Contraseña Actual</label>
                    <input class="form-control" type="password" id="passwordActual" name="passwordActual" value="123" />
                </div>
                <div class="mb-3 col-md-4">
                    <label for="email" class="form-label">Contraseña Nueva</label>
                    <input class="form-control" type="password" id="passwordNueva" name="passwordNueva" value="" />
                </div>
                <div class="mb-3 col-md-4">
                    <label for="email" class="form-label">Repetir Contraseña Nueva</label>
                    <input class="form-control" type="password" id="passwordRepetir" name="passwordRepetir" value="" />
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Guardar Cambios</button>
            </div>
        </form>
    </div>
    <!-- /Account -->
</div>